<!DOCTYPE html>
<html>
<head>
  <title>ToysOnRails</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header"><a href="/" class="navbar-brand">Toys on Rails</a></div>
    <%= left_navbar %>
    <%= right_navbar %>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <% if alert %>
        <div class="alert alert-danger">
          <%= alert %>
        </div>
      <% end %>
      <% if notice %>
        <div class="alert alert-success">
          <%= notice %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
